{% for product in products %}
    <div class="col" >
        <div class="card">

            <img src="{{ product.image }}" class="card-img-top" alt="{{ product.imageAlt }}">
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">{{ product.shortDescription|raw }}</p>
                <p class="fw-bold">Prix de vente : {{ product.price }} €</p>
                <p>
                    <a href="{{ product.permalink }}" target="_blank" class="text-muted small">Plus d'infos</a>
                </p>
                <a href="{{ path('app_cart_add', {'id': product.id}) }}" class="btn btn-outline-success">Ajouter à ma box</a>
            </div>
        </div>
    </div>
{% endfor %}