{% for product in products %}
    <div class="d-flex col product-card align-items-stretch" >
        <div class="card p-3 w-100">
            {% set imageUrl = product.image %}
            {% if imageUrl is null %}
                {% set imageUrl = "https://placehold.co/400?text="~"Pas d'image produit"|url_encode %}
            {% endif %}
            <img src="{{ imageUrl }}" class="card-img-top rounded-3 mb-3" alt="{{ product.imageAlt }}">
            <div class="card-body">
                <h5 class="card-title fw-bold">{{ product.name }}</h5>
                <div class="card-text">{{ product.shortDescription|raw }}</div>
                {# <p class="fw-bold">Prix de vente : {{ product.price }} €</p> #}
                <p>
                    <a href="{{ product.permalink }}" target="_blank" class="text-muted small">Plus d'infos</a>
                </p>
                {% set disabled = '' %}
                {% if box.contains(product) %}
                    {% set disabled='disabled' %}
                {% endif %}
                <a href="{{ path('app_cart_add', {'id': product.id}) }}" class="btn bg-dark-blue text-white {{ disabled }}">Ajouter à ma box</a>
            </div>
        </div>
    </div>
{% endfor %}