{% extends "base.html.twig" %}

{% block mainContent %}
    <div class="container">
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>
                        Produit
                    </th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for product in box.items %}
                    <tr>
                        <td>{{ product.name }}</td>
                        <td>{{ product.price|round(2) }} €</td>
                        <td>
                            <a href="{{ path('app_cart_remove', {'id': product.id}) }}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td>Forfait Maintenance</td>
                    <td>{{ box.maintenanceCost|round(2) }} €</td>
                    <td></td>
                </tr>
                </tbody>
                <tfooter>
                    {% set total = box.productTotal + box.maintenanceCost %}
                    <tr>
                        <th>Total</th>
                        <th colspan="2">{{ total|round(2) }}€</th>
                    </tr>
                </tfooter>
            </table>
        </div>
        <div class="row">
            <form action="{{ path('app_cart_calculate') }}" method="post" id="calculator">
                <h3>Conditions de financement</h3>
                <h5>Nombre de mois</h5>
                <div class="rangeWrapper">
                    <div class="values">
                        <span class="min"></span>
                        <span class="value"></span>
                        <span class="max"></span>
                    </div>
                    <div class="range">
                        <input type="range" min="12" max="84" step="12" class="form-range" id="nbMonths" name="params[nbMois]" value="36" />
                    </div>
                </div>

                <h5>Votre apport :</h5>
                <input type="radio" class="btn-check" name="params[financement]" id="option1" autocomplete="off" checked value="linear">
                <label class="btn btn-secondary" for="option1">Pas d'apport</label>

                <input type="radio" class="btn-check" name="params[financement]" id="option2" autocomplete="off" value="f1">
                <label class="btn btn-secondary" for="option2">Apport de 10%</label>

                <input type="radio" class="btn-check" name="params[financement]" id="option3" autocomplete="off" value="f2">
                <label class="btn btn-secondary" for="option3">Apport de 20%</label>

                <input type="radio" class="btn-check" name="params[financement]" id="option4" autocomplete="off" value="f3">
                <label class="btn btn-secondary" for="option4">Apport de 30%</label>
            </form>
        </div>
        <div class="row" id="planFinancement">
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('calculator') }}
{% endblock %}
