{% extends "base.html.twig" %}

{% block mainContent %}
    <div class="banner bg-dark-blue py-5">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col">
                    <h1>
                        Le
                        <span class="text-white">récapitulatif</span>
                        <br/>de ma box
                    </h1>
                </div>
                <div class="col">
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5 mb-5">
        <div class="row pb-5">
            <div class="col">
                <a href="{{ path('app_products_list') }}" class="btn bg-light-blue text-white">Retour aux produits</a>
            </div>
        </div>
        <div class="row">
            <div class="col me-4">
                <div class="row">
                    <h4 class="text-light-blue">Ma box ({{ box.items|length }})</h4>
                    <div class="table-responsive">
                        <table class="table align-middle">
                            <tbody>
                            {% for product in box.items %}
                                <tr>
                                    <td><img class="rounded-3 product-thumb img-thumbnail" src="{{ product.image }}" alt=""></td>
                                    <td>{{ product.name }}</td>
                                    {#
                                    <td>{{ product.price|round(2) }} €</td>
                                    #}
                                    <td>
                                        <a class="text-light-gray" href="{{ path('app_cart_remove', {'id': product.id}) }}">Supprimer</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            {# On vire demande du client
                        <tr>
                            <td>Forfait Maintenance</td>
                            <td>{{ box.maintenanceCost|round(2) }} €</td>
                            <td></td>
                        </tr>
                            #}
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col bg-light py-4 px-3 rounded-3">
                            <div class="row">
                                {% set total = box.productTotal + box.maintenanceCost %}
                                <div class="col text-light-blue"><b>TOTAL</b></div>
                                <div class="col d-flex justify-content-end">{{ total|round(2) }}€</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col bg-light rounded-3 py-4 px-4">
                        <form action="{{ path('app_cart_calculate') }}" method="post" id="calculator">
                            <h3 class="text-dark-blue pb-5">Conditions de financement</h3>
                            <h5 class="text-dark-blue pb-3">Nombre de mois</h5>
                            <div class="rangeWrapper">
                                <div class="values">
                                    <span class="min"></span>
                                    <span class="value"></span>
                                    <span class="max"></span>
                                </div>
                                <div class="range">
                                    <input type="range" min="12" max="84" step="12" class="form-range" id="nbMonths"
                                           name="params[nbMois]" value="36"/>
                                </div>
                            </div>

                            <h5 class="text-dark-blue pt-5 mt-3 pb-3">Votre apport :</h5>
                            <div class="apport">
                                <input type="radio" class="btn-check" name="params[financement]" id="option1"
                                       autocomplete="off" checked value="linear">
                                <label class="btn btn-outline-dark-blue" for="option1">Pas d'apport</label>

                                <input type="radio" class="btn-check" name="params[financement]" id="option2"
                                       autocomplete="off" value="f1">
                                <label class="btn btn-outline-dark-blue" for="option2">Apport de 10%</label>

                                <input type="radio" class="btn-check" name="params[financement]" id="option3"
                                       autocomplete="off" value="f2">
                                <label class="btn btn-outline-dark-blue" for="option3">Apport de 20%</label>

                                <input type="radio" class="btn-check" name="params[financement]" id="option4"
                                       autocomplete="off" value="f3">
                                <label class="btn btn-outline-dark-blue" for="option4">Apport de 30%</label>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row" id="planFinancement">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('calculator') }}
{% endblock %}
