{% extends "base.html.twig" %}

{% block mainContent %}
    <div class="hero-banner banner bg-dark-blue py-5">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col">
                    <h1>
                        La <span class="text-white">solution tout-en-un</span>
                        <br>simple et pratique
                    </h1>
                    <p class="fs-4">Composez votre box d’instruments rotatifs</p>
                </div>

                <div class="col">
                    <p>Les instruments rotatifs sont le prolongement technologique de vos mains et essentiels à l’activité du cabinet. Nous vous offrons ici un concentré de services, de confort et de simplicité autour des meilleures marques du marché.
                        <br><br>Les mêmes prix que sur le web, le service de proximité en plus !
                        <br>Votre temps est précieux : en prendre soin est notre métier.
                    </p>
                    <a href="#" class="btn bg-light-blue text-uppercase text-white">Le concept</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center offers card-group">

            <div class="col pricingBox offer-first">
                <div class="card mb-4 rounded-3 shadow-lg">
                    <div class="card-header">
                        <h4 class="my-0 fw-normal">3 | FIRST</h4>
                    </div>
                    <div class="card-body">
                        <p class="card-title pricing-card-title">3 rotatifs au choix dès 79€ TTC/mois</p>

                        <a role="button" data-bs-toggle="collapse" data-bs-target="#bullets-first" class="toggle-detail collapsed">Voir le détail</a>

                        <div class="collapse detail-list" id="bullets-first">
                            <div class="list-group">
                                {{ _self.detailListItem("Garantie jusqu'à 36 mois") }}
                                <p class="bullet-small list-group-item">Pièces et main d'&oelig;uvre</p>
                                {{ _self.detailListItem('1er loyer modulable de 0 à 30%') }}
                                {{ _self.detailListItem('En fin de contrat vous pouvez conserver le matériel.') }}
                                {{ _self.detailListItem('Nous gérons 100% du SAV') }}
                                <p class="bullet-small list-group-item">(Enlèvement + retour cabinet)</p>
                                {{ _self.detailListItem('Prêt matériel de remplacement') }}
                                {{ _self.detailListItem('Réparation avec pièces d\'origine') }}
                                {{ _self.detailListItem('Interlocuteur unique Cime dentaire') }}
                                <span id="padder"></span>
                            </div>
                        </div>
                        <div class="row bottom">
                            <div class="col">
                                <a href="{{ path('app_box_chose', {'type' : 3}) }}"
                                   class="btn btn-lg bg-dark-blue text-white">Composer ma box</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col pricingBox offer-expert">
                <div class="card mb-4 rounded-3 shadow-lg">
                    <div class="card-header">
                        <h4 class="my-0 fw-normal">6 | EXPERT</h4>
                    </div>
                    <div class="card-body">
                        <p class="card-title pricing-card-title">6 rotatifs au choix dès 169€ TTC/mois</p>

                        <a role="button" data-bs-toggle="collapse" data-bs-target="#bullets-expert" class="toggle-detail collapsed">Voir le détail</a>

                        <div class="collapse detail-list" id="bullets-expert">
                            <div class="list-group">
                                {{ _self.detailListItem("Garantie jusqu'à 48 mois") }}
                                <p class="bullet-small list-group-item">Pièces et main d'&oelig;uvre</p>
                                {{ _self.detailListItem('1er loyer modulable de 0 à 30%') }}
                                {{ _self.detailListItem('En fin de contrat vous pouvez conserver le matériel.') }}
                                {{ _self.detailListItem('Nous gérons 100% du SAV') }}
                                <p class="bullet-small list-group-item">(Enlèvement + retour cabinet)</p>
                                {{ _self.detailListItem('Prêt matériel de remplacement') }}
                                {{ _self.detailListItem('Réparation avec pièces d\'origine') }}
                                {{ _self.detailListItem('Interlocuteur unique Cime dentaire') }}
                                <p class="list-group-item fw-bold py-2 mb-0 mt-1">Option</p>
                                {{ _self.detailListItem('Traitement tout-en-un par DAC Universal S') }}
                            </div>
                        </div>
                        <div class="row bottom">
                            <div class="col">
                                <a href="{{ path('app_box_chose', {'type' : 6}) }}"
                                   class="btn btn-lg bg-dark-blue text-white">Composer ma box</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col pricingBox offer-master">
                <div class="card mb-4 rounded-3 shadow-lg">
                    <div class="card-header">
                        <h4 class="my-0 fw-normal">9 | MASTER</h4>
                    </div>
                    <div class="card-body">
                        <p class="card-title pricing-card-title">9 rotatifs au choix dès 219€ TTC/mois</p>

                        <a role="button" data-bs-toggle="collapse" data-bs-target="#bullets-master" class="toggle-detail collapsed">Voir le détail</a>

                        <div class="collapse detail-list" id="bullets-master">
                            <div class="list-group">
                                {{ _self.detailListItem("Garantie jusqu'à 60 mois") }}
                                <p class="bullet-small list-group-item">Pièces et main d'&oelig;uvre</p>
                                {{ _self.detailListItem('1er loyer modulable de 0 à 30%') }}
                                {{ _self.detailListItem('En fin de contrat vous pouvez conserver le matériel.') }}
                                {{ _self.detailListItem('Nous gérons 100% du SAV') }}
                                <p class="bullet-small list-group-item">(Enlèvement + retour cabinet)</p>
                                {{ _self.detailListItem('Prêt matériel de remplacement') }}
                                {{ _self.detailListItem('Réparation avec pièces d\'origine') }}
                                {{ _self.detailListItem('Interlocuteur unique Cime dentaire') }}
                                <p class="list-group-item fw-bold py-2 mb-0 mt-1">Option</p>
                                {{ _self.detailListItem('Traitement tout-en-un par DAC Universal S') }}
                            </div>
                        </div>
                        <div class="row bottom">
                            <div class="col">
                                <a href="{{ path('app_box_chose', {'type' : 9}) }}"
                                   class="btn btn-lg bg-dark-blue text-white">Composer ma box</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% macro detailListItem(text) %}
    <div class="list-group-item">
        <i class="check bi bi-check2"></i>
        <span>{{ text }}</span>
    </div>
{% endmacro %}
