<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Rotativ'Box{% endblock %}</title>
    <link rel="icon"
          href="{{ asset('build/static/images/logo-rotativ-box-couleur.png') }}">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('styles') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body {% block bodyAttr %}{% endblock %}>
{% set boxContent = app.session.get(constant('App\\Model\\Box::BOX_SESSION_KEY'), null) %}
{% block body %}
    <div class="container-fluid m-0 p-0 pt-3 min-vh-100">
        <header>
            <div class="d-flex flex-column flex-md-row align-items-center pb-3 border-bottom">
                <a href="/" class="d-flex align-items-center text-dark text-decoration-none navbar-brand">
                    <img src="{{ asset('build/static/images/logo-rotativ-box-couleur.png') }}" alt="Rotativ'Box">
                </a>
                <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
                    <a class="me-5 py-2 text-decoration-none active" href="{{ path('app_home') }}">Les boxs</a>
                    {#
                        <a class="me-5 py-2 text-decoration-none" href="{{ path('app_concept') }}">Le concept</a>
                    #}
                    <a href="{{ path('app_cart_show') }}" class="btn bg-light-blue text-white">Ma box
                        (<span class="cart-count">{{ (boxContent)? boxContent.items|length : '0' }}</span>)</a>
                </nav>
            </div>
        </header>
        {% block flashes %}
            <div class="flashes">
                {% for type, flashes in app.flashes %}
                    {% for message in flashes %}
                        <div class="alert alert-{{ type }} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        {% endblock %}
        <main class="container-fluid">
            {% block mainContent %}{% endblock %}
        </main>
        <footer>
            <div class="row justify-content-between">
                <div class="col logos">
                    <div id="logoRotativ" class="logo"></div>
                    <div id="logoCime" class="logo"></div>
                </div>
                <div class="col menu">
                    <div class="row text-white">
                        <div class="col">
                            <ul class="list-unstyled">
                                <li>
                                    <a href="{{ path('app_home') }}">Les boxs</a>
                                </li>

                                <li>
                                    <a target="_blank" href="{{ cimedentaire_url }}concept/">Le concept</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col">
                            <ul class="list-unstyled">
                                <li>
                                    <a href="{{ path('app_mentions_legales') }}">Mentions légales</a>
                                </li>
                                <li>
                                    <a href="{{ path('app_confidentialite') }}">Politique de confidentialité</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <p class="small text-muted">&copy; Cime dentaire - {{ 'now'|date('Y') }}</p>
                </div>
            </div>
        </footer>
    </div>
{% endblock %}
</body>
</html>
